<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 id="h1user">Welcome, {{ user }}</h1>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
        <section class="message-section">
            <h2>Write a New Message</h2>
            <form method="post", action="/send_message">

                <!-- SECURITY NOTIFICATION: NO CSRF-TOKEN PRESENT! -->

                <input type="text" name="recipient" id="receivername" placeholder="Recipient Username", required>
                <textarea name="message" id="messagecontent" placeholder="Write here", required></textarea>
                <button type="submit" onclick="return checkMessage()">Send</button>
            </form>
        </section>
        
        <section class="message-section">
            <h2>Received Messages</h2>
            <div class="messages">
                {% if user_messages|length > 0 %}
                <ul>
                    {% for message in user_messages %}
                    <li>{{ message.content }} <br><br>from: {{ message.sender }}</li>
                    <br>
                    <form method="post" action="/delete_message">
                        <input type="hidden" name="message_id" value="{{ message.id }}">
                        <input type="hidden" name="message_type" value="received">
                        <input type="submit" value="Delete">
                    </form>
                    <br>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No messages received</p>
                {% endif %}
            </div>
        </section>

        <section class="message-section">
            <h2>Sent Messages</h2>
            <div class="messages">
                {% if sent_messages|length > 0 %}
                <ul>
                    {% for message in sent_messages %}
                    <li>{{ message.content }} <br><br>to: {{ message.receiver }}</li>
                    <br>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No messages sent</p>
                {% endif %}
            </div>
        </section>
    </div>
    
    <script src="/static/dashboard.js"></script>
    
    {% if alert %}
    <script>
        showLoggedInUser();
    </script>
    {% endif %}

    {% if message_sent %}
    <script>
        messageSent();
    </script>
    {% endif %}

    {% if user_not_found %}
    <script>
        userNotFound();
    </script>
    {% endif %}
</body>

</html>
