<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <title>Messaging App</title>
</head>

<body>

    <div class="container">
        <h2>Welcome to my Messaging Application!</h2>
        <p>Please login to continue:</p>

        <form method="post" action="/login">

            <!-- SECURITY NOTIFICATION: NO CSRF-TOKEN PRESENT! -->

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>

    <script src="/static/index.js"></script>

    {% if normal_user %}
    <script>
        showSuccessNormal();
    </script>
    {% endif %}

    {% if admin_user %}
    <script>
        showSuccessAdmin();
    </script>
    {% endif %}

    {% if user_not_found %}
    <script>
        showUserNotFound();
    </script>
    {% endif %}

    {% if user_not_logged_in %}
    <script>
        showNotLoggedIn();
    </script>
    {% endif %}
</body>

</html>